$blue: #3498DB;

* {
  outline: none;
  list-style-type: none;
}

body {
  background-color: #ecf0f1 !important;
}

.navbar {
  img {vertical-align: bottom};

  a.navbar-brand span {
    display: block;
    height: 5px;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    background: $blue;
  }
  .navbar-nav a {color: black;}
  input[aria-label="Search"] {
    border-radius: 30px;
    box-shadow: none;
    background: url("../img/search.svg") no-repeat 10px;
    padding-left: 2em;
  }

  input[aria-label="Search"]:focus {
    border: 2px solid $blue !important;
  }
  .count {
    width: 24px;
    background: $blue;
    display: block;
    height: 24px;
    margin-left: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 1;
    border-radius: 12px;
  }
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #565656;
  text-align: center;
  height: 200px;

  li, a {
    color: #f8f9fa !important;
  }

  li.d-flex {
    a  {width: 100%; margin: 5px 0;}
    img {width: 50%;}
  }
}

.dropdown-menu {
  transform: translateX(-50%);
  left: 50% !important;
}
.card-desk {
  width: 500px;
  .card {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
  }
}
.card {
  text-decoration: none;

  .card-img-top {
    margin: 0 auto;
    object-fit: contain;
    height: 50%;
    max-width: 70%;
    width: 100%;
  }
  .card-title {
    color: #3d3d3d;
  }
  .card-body {
    color: #3d3d3d;
  }
}